<button {{on 'click' this.addItem}} type="button" class="sneaky default-width no-select br5p areaB">Добавить элемент</button>
<button {{on 'click' this.clear}} type="button" class="sneaky default-width no-select br5p areaC">Очистить</button>
<button {{on 'click' this.save}} type="button" class="sneaky default-width no-select br5p areaD">Сохранить</button>
<div {{on 'drop' this.onDrop}} {{on 'dragover' this.onDragOver}} class="flex-col hundred pad5px drag-target areaA">
  {{#each this.elementsCollection as |elem index|}}
    <div class="mar1px one-third h15 graph-container hundred block">
      <RemovableListItem @class="float-right graph-close" @index={{index}} @list={{this.elementsCollection}}/>
      <EditPropertyButton @class="float-right graph-edit" @action={{this.edit}} @data={{elem}} @list={{this.elementsCollection}} @index={{index}}/>
      <Graph @data={{elem.data}} @options={{elem.options}} @type={{elem.type}} @class={{'br10p'}}/>
    </div>
  {{/each}}
</div>