<h3 class="text-center pointer-action" {{on 'click' this.toggleCollapse}}>{{@title}}</h3>
<div class="flex-row {{if this.collapsed 'collapsed' ''}}">
  {{#each-in this.props as |key value|}}
    {{#if value.object}}
      <PropertiesEditor @properties={{value.object}} @value={{value.val}} @title={{key}}/>
    {{else}}
      <label class="normal">
        {{#unless value.array}}
          <span>
            {{key}}
          </span>
        {{/unless}}
        {{#if value.options}}
          <select class="flexG1" {{on 'change' (fn this.update @value key)}} {{on 'focusout' (fn this.update @value key)}}>
            {{#each value.options as |val|}}
              {{#if val.sel}}
                <option selected>{{val.val}}</option>
              {{else}}
                <option>{{val.val}}</option>
              {{/if}}
            {{/each}}
          </select>
        {{else}}
          {{#if value.checkbox}}
            <Input @type={{value.checkbox}} @checked={{value.val}} @focusOut={{fn this.update @value key}}/>
          {{else}}
            {{#if value.data}}
                <span class="sneaky no-select br5p default-width flexG1">Load Data</span>
                <Input type="file" accept=".xls,.xlsx,.xlsb,.xlsm" class="collapsed" {{on 'change' (fn this.addData @value key)}}/>
            {{else}}
              {{#if value.range}}
                <Input @type={{value.range}} @value={{value.val}} @min={{value.min}} @max={{value.max}} @step={{value.step}} class="flexG1" {{on 'change' (fn this.update @value key)}} @focusOut={{fn this.update @value key}}/>
                <span>{{value.val}}</span>
              {{else}}
                {{#unless value.array}}
                  <Input @type={{value.type}} @value={{value.val}} class="flexG1" pattern={{value.regex}} {{on 'change' (fn this.update @value key)}} @focusOut={{fn this.update @value key}}/>
                {{/unless}}
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      </label>
    {{/if}}
    {{#if value.array}}
      <PropertiesEditor @properties={{value.props}} @value={{value.val}} @title={{key}}/>
    {{/if}}
  {{/each-in}}
  <hr/>
</div>