<h3 class="text-center pointer-action" {{on 'click' this.toggleCollapse}}>{{@title}}</h3>
<div class="flex-row {{if this.collapsed 'collapsed' ''}}">
  {{#each-in this.props as |key value|}}
    {{#if value.object}}
      <PropertiesEditor @properties={{value.object}} @value={{value.val}} @title={{key}}/>
      <hr/>
    {{else}}
      <label class="normal">
        <span>
          {{key}}
        </span>
        {{#if value.options}}
          <select class="flexG1" {{on 'change' (fn this.update @value key)}}>
            {{#each value.options as |val|}}
              <option>{{val}}</option>
            {{/each}}
          </select>
        {{else}}
          {{#if value.checkbox}}
            <Input @type={{value.checkbox}} @checked={{value.val}} @focusOut={{fn this.update @value key}}/>
          {{else}}
            {{#if value.data}}
                <span class="sneaky no-select br5p default-width flexG1">Load Data</span>
                <Input type="file" accept=".xls,.xlsx,.xlsb,.xlsm" class="collapsed" {{on 'change' (fn this.addData @value key)}}/>
            {{else}}
              {{#if value.range}}
                <Input @type={{value.range}} @value={{value.val}} @min={{value.min}} @max={{value.max}} @step={{0.01}} class="flexG1" @focusOut={{fn this.update @value key}}/>
                <span>{{value.val}}</span>
              {{else}}
                <Input @type={{value.type}} @value={{value.val}} class="flexG1" pattern={{value.regex}} @focusOut={{fn this.update @value key}}/>
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      </label>
    {{/if}}
  {{/each-in}}
  <hr/>
</div>