<div class="{{if @open 'sidebar' ''}}">
  <button {{action this.toggleOpen}} class="sidebar-toggle {{if @right 'float-left' 'float-right'}}">
    {{#if @right}}
      {{#if @open}}
        {{#unless @cantHide}}
          ▶
        {{/unless}}
      {{else}}
        {{#unless @cantShow}}
          ◀
        {{/unless}}
      {{/if}}
    {{else}}
      {{#if @open}}
        {{#unless @cantHide}}
          ◀
        {{/unless}}
      {{else}}
        {{#unless @cantShow}}
          ▶
        {{/unless}}
      {{/if}}
    {{/if}}
  </button>
  <div class="{{unless @open 'collapsed' ''}} {{@class}}">
    {{yield}}
  </div>
</div>