<ul class="tree-view {{@class}}">
  {{#if this.items.length}}
    {{#each this.items as |item index|}}
      <TreeviewInternal @node={{item}} @index={{index}} @parent={{this}} @action={{@action}} @onChangeContents={{@onChangeContents}}>
        {{#if item.node}}
          {{item.node}}
        {{else}}
          {{item}}
        {{/if}}
      </TreeviewInternal>
    {{/each}}
  {{/if}}
  {{#unless @noAddButton}}
    <li>
      <AddToListItem @list={{this.items}} @action={{@action}} @onChange={{@onChangeContents}} @class={{'float-right'}}> Add Item</AddToListItem>
    </li>
  {{/unless}}
</ul>