{{#if @node}}
  <li>
    {{#if this.items}}
      <div {{action this.toggleDisplay}} class="no-select tree-view-expander">{{if this.isDisplayed '↘' '➡'}}</div>
    {{/if}}
    {{#if this.canAdd}}
      {{#if this.canRemove}}
        <AddToListItem @list={{this.items}} @action={{@action}} @onChange={{@onChangeContents}} @class={{'float-right'}}>
          <RemovableListItem @list={{@parent.items}} @index={{@index}} @onChange={{@onChangeContents}} @class={{'float-right'}}>
            {{yield}}
          </RemovableListItem>
        </AddToListItem>
      {{else}}
        <AddToListItem @list={{this.items}} @action={{@action}} @onChange={{@onChangeContents}} @class={{'float-right'}}>
          {{yield}}
        </AddToListItem>
      {{/if}}
    {{else}}
      {{#if this.canRemove}}
        <RemovableListItem @list={{@parent.items}} @index={{@index}} @onChange={{@onChangeContents}} @class={{'float-right'}}>
          {{yield}}
        </RemovableListItem>
      {{else}}
        {{yield}}
      {{/if}}
    {{/if}}
  </li>
  {{#if this.items.length}}
    {{#if this.isDisplayed}}
        <li class="{{unless this.isDisplayed 'collapsed'}}">
          <Treeview @tree={{this.items}} @parent={{this}} @noAddButton={{true}} @action={{@action}} @onChangeContents={{@onChangeContents}}/>
        </li>
    {{/if}}
  {{/if}}
{{/if}}