{{#if @node}}
  <li>
    <div class="inline-block">
      {{#if @node.items}}
          <div {{action 'toggleDisplay'}} class="no-select tree-view-expander">{{if isDisplayed '↘' '➡'}}</div>
      {{/if}}
      <RemovableListItem @list={{@parent.items}} @item={{@node}}>
        <AddToListItem @list={{this.items}} @item={{"test"}}>
          {{#if @nonDraggable}}
            {{yield}}
          {{else}}
            <DraggableItem @data={{this.path}}>
              {{yield}}
            </DraggableItem>
          {{/if}}
        </AddToListItem>
      </RemovableListItem>
    </div>
  </li>
{{/if}}
{{#if @node.items}}
    <li class="{{unless isDisplayed 'collapsed'}}">
      <Treeview @tree={{@node.items}} @parent={{this}}/>
    </li>
{{/if}}