{{#if @node}}
  <li>
    {{#if @items}}
        <span {{action 'toggleDisplay'}} class="no-select">{{if isDisplayed '↘' '➡'}}</span>
    {{/if}}
    <span class="pointer">
      <DraggableItem @data={{this.path}}>
        {{yield}}
      </DraggableItem>
    </span>
  </li>
{{/if}}
{{#if @items}}
  {{#if isDisplayed}}
    <li>
      <ul>
        {{#each @items as |subtree|}}
          {{#if subtree}}
            {{#if subtree.node}}
              <TreeviewInternal @node={{subtree.node}} @items={{subtree.items}} @parent={{this}}>
                {{subtree.node}}
              </TreeviewInternal>
            {{else}}
              <TreeviewInternal @node={{subtree}} @parent={{this}}>
                {{subtree}}
              </TreeviewInternal>
            {{/if}}
          {{/if}}
        {{/each}}
      </ul>
    </li>
  {{/if}}
{{/if}}