{{#if @node}}
  <li>
    <div class="inline-block">
      {{#if this.items}}
          <div {{action 'toggleDisplay'}} class="no-select tree-view-expander">{{if isDisplayed '↘' '➡'}}</div>
      {{/if}}
      {{#if this.canAdd}}
        {{#if this.canRemove}}
          <AddToListItem @list={{this.items}} @action={{@action}} @onChange={{@onChangeContents}}>
            <RemovableListItem @list={{@parent.items}} @index={{@index}} @onChange={{@onChangeContents}}>
              {{yield}}
            </RemovableListItem>
          </AddToListItem>
        {{else}}
          <AddToListItem @list={{this.items}} @action={{@action}} @onChange={{@onChangeContents}}>
            {{yield}}
          </AddToListItem>
        {{/if}}
      {{else}}
        {{#if this.canRemove}}
          <RemovableListItem @list={{@parent.items}} @index={{@index}} @onChange={{@onChangeContents}}>
            {{yield}}
          </RemovableListItem>
        {{else}}
          {{yield}}
        {{/if}}
      {{/if}}
    </div>
  </li>
  {{#if this.items.length}}
    {{#if isDisplayed}}
        <li class="{{unless isDisplayed 'collapsed'}}">
          <Treeview @tree={{this.items}} @parent={{this}} @noAddButton={{true}} @action={{@action}} @onChangeContents={{@onChangeContents}}/>
        </li>
    {{/if}}
  {{/if}}
{{/if}}