{{#if @node}}
  <li>
    <div class="inline-block">
      {{#if this.items}}
          <div {{action 'toggleDisplay'}} class="no-select tree-view-expander">{{if isDisplayed '↘' '➡'}}</div>
      {{/if}}
      <AddToListItem @list={{this.items}} @action={{@action}} @onChange={{@onChangeContents}}>
        <RemovableListItem @list={{@parent.items}} @index={{@index}} @onChange={{@onChangeContents}}>
          <DraggableItem @data={{this.path}}>
            {{yield}}
          </DraggableItem>
        </RemovableListItem>
      </AddToListItem>
    </div>
  </li>
  {{#if this.items.length}}
    <li class="{{unless isDisplayed 'collapsed'}}">
      <Treeview @tree={{this.items}} @parent={{this}} @noAddButton={{true}} @action={{@action}} @onChangeContents={{@onChangeContents}}/>
    </li>
  {{/if}}
{{/if}}