{{#if @node}}
  <li>
    {{#if this.items}}
      <span {{on 'click' this.toggleDisplay}} class="no-select tree-view-expander">{{if this.isDisplayed '↘' '➡'}}</span>
    {{/if}}
    {{#if this.canRemove}}
      <RemovableListItem @list={{@parent.items}} @index={{@index}} @onChange={{@onChangeContents}} @class={{'float-right'}}/>
    {{/if}}
    {{#if this.canAdd}}
      <AddToListItem @list={{this.items}} @action={{@action}} @onChange={{@onChangeContents}} @class={{'float-right'}} @defaultVal={{this.newItem}}/>
    {{/if}}
    {{yield}}
  </li>
  {{#if this.items.length}}
    {{#if this.isDisplayed}}
        <li class="{{unless this.isDisplayed 'collapsed'}}">
          <Treeview @tree={{this.items}} @parent={{this}} @noAddButton={{if @node.addButton false true}} @action={{@action}} @onChangeContents={{@onChangeContents}}/>
        </li>
    {{/if}}
  {{/if}}
{{/if}}