<div class="flex-col">
  <Sidebar @open={{@model.markersOpen}} @onToggle={{@model.toggleSidebar}} @cantHide={{true}} @cantShow={{true}} @class={{'grid sidebar-inner four-row'}}>
    <h1 class="areaA">Index Page</h1>
    <Treeview @tree={{@model.markers}} @action={{@model.addToMarkers}} @onChangeContents={{@model.saveMarkerTreeViewCookie}} @class={{'areaB'}}/>
    <Treeview @tree={{@model.characteristics}} @action={{@model.addToCharacteristics}} @onChangeContents={{@model.saveCharTreeViewCookie}} @class={{'areaD'}}/>
  </Sidebar>
  <main>
    <DragTarget @elementsCollection={{@model.graphsData}} @addItem={{@model.addGraph}}></DragTarget>
  </main>
  <Sidebar @right={{true}} @open={{@model.optionsOpen}} @onToggle={{@model.toggleSidebar}} @cantShow={{true}}>
    {{#if @model.optionsOpen}}
      <PropertiesEditor @properties={{@model.editableProperty}} @title={{@model.propName}}/>
    {{/if}}
  </Sidebar>
</div>

{{outlet}}
