<div class="flex-col">
  <div class="sidebar">
    <h1>index page</h1>
    <div>
      <Treeview @tree={{model.tree}} @action={{model.treeviewShowModalAction}} @onChangeContents={{model.saveTreeviewCookie}}/>
      <Modal @isOpen={{model.treeViewModalOpen}} @clickedOutside={{model.modalFailAction}} @onOpen={{model.modalOpen}}>
        {{input type="text" placeholder="New Item" value=model.modalTextValue id="modalSidebarInput"}} <button {{action model.modalCloseAction}}>Done!</button>
      </Modal>
    </div>
  </div>
  <main>
    <DragTarget/>
  </main>
</div>

{{outlet}}
